<h3>Compras</h3>
<button class="btn btn-primary" ui-sref="auth.comprasCrear">Agregar nueva compra</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">numero recibo</th>
      <th scope="col">Nit</th>
      <th scope="col">Nombre Proveedor</th>
      <th scope="col">Fecha compra</th>
      <th></th>
    </tr>
  <tbody>
    <tr ng-repeat="compra in compraVm.compras">
      <td>{{compra.numeroRecibo}}</td>
      <td>{{compra.nitProveedor}}</td>
      <td>{{compra.nombreProveedor}}</td>
      <td>{{compra.fechaCompra | date:'dd/MM/yyyy hh:mm'}}</td>
      <td> <a href ui-sref="auth.comprasDetalle({ recibo: compra.numeroRecibo})"  class="glyphicon glyphicon-search" ></a> </td>
    </tr>
  </tbody>
  </thead>