<h3>Compras</h3>
<div class="form-group col-md-8">
  <div class="input-group">
    <input ng-model="compraVm.numeroRecibo" placeholder="Buscar compra con numero recibo" type="number" class="form-control">
    <div class="input-group-btn">
      <button ng-click="compraVm.busquedaCompra()" class="btn" type="button"> 
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</div>
<div class="col-md-2" ng-if="compraVm.filtroActivo">
  <button class="btn btn-info" ng-click="compraVm._obtenerCompra()">Limpiar Filtro</button>
</div>
<button class="btn btn-primary" ui-sref="auth.comprasCrear">Agregar nueva compra</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">numero recibo</th>
      <th scope="col">Nit</th>
      <th scope="col">Nombre Proveedor</th>
      <th scope="col">Fecha compra</th>
      <th></th>
    </tr>
  <tbody>
    <tr ng-repeat="compra in compraVm.compras">
      <td>{{compra.numeroRecibo}}</td>
      <td>{{compra.nitProveedor}}</td>
      <td>{{compra.nombreProveedor}}</td>
      <td>{{compra.fechaCompra | date:'dd/MM/yyyy hh:mm'}}</td>
      <td> <a href ui-sref="auth.comprasDetalle({ recibo: compra.numeroRecibo})"  class="glyphicon glyphicon-search" ></a> </td>
    </tr>
  </tbody>
  </thead>