<h3 style="text-align: center">Compra de productos</h3>

<form name="compraForm" ng-submit="compraCrVm.guardarCompra()">
  <div class="form-group col-md-4" ng-class="{'has-error': compraForm.nit.$invalid, 'has-success': compraForm.nit.$valid}">
    <label for="nombre">Nit</label>
    <input type="text" name="nit"class="form-control" id="nombre" ng-minlength="4" ng-model="compraCrVm.nitProveedor" required>
  </div>
  <div class="form-group col-md-4" ng-class="{'has-error': compraForm.nombreProv.$invalid, 'has-success': compraForm.nombreProv.$valid}">
    <label for="id">nombre proveedor</label>
    <input type="text" name="nombreProv"class="form-control" id="id" ng-minlength="4" ng-model="compraCrVm.nombreProveedor" required>
  </div>
  <div class="form-group col-md-4" ng-class="{'has-error': compraForm.numeroRec.$invalid, 'has-success': compraForm.numeroRec.$valid}">
    <label for="recibo">n° recibo</label>
    <input type="text" name="numeroRec"class="form-control" id="exampleFormControlInput1" ng-minlength="4" ng-model="compraCrVm.numeroRecibo" required>
  </div>

  <div class="form-group col-md-4" ng-class="{'has-error': compraForm.fechaCom.$invalid, 'has-success': compraForm.fechaCom.$valid}">
    <label for="compra">fecha compra</label>
    <input type="date" name="fechaCom"class="form-control" id="exampleFormControlInput1" ng-model="compraCrVm.fechaCompra"required>
  </div>
  <div class="form-group col-md-4" ng-class="{'has-error': compraForm.fechaEnt.$invalid, 'has-success': compraForm.fechaEnt.$valid}">
    <label for="entrega">fecha entrega</label>
    <input type="date" name="fechaEnt" class="form-control" id="exampleFormControlInput1" ng-model="compraCrVm.fechaEntregaP"required>
  </div>

  <div class="form-group col-md-4" ng-class="{'has-error': compraForm.buscar.$invalid, 'has-success': compraForm.buscar.$valid}">
    <div class="input-group">
      <label for="entrega">Buscar producto</label>
      <input ng-model="compraCrVm.codBusqueda"  name="buscar"placeholder="Producto" type="text" class="form-control" >
      <div class="input-group-btn" style="top: 13px;">
        <button ng-click="compraCrVm.busquedaProd()" class="btn" type="button"> 
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>


  <div class="col-md-12"  style="max-height: 350px; overflow-y: auto;" >
    
    <div class="col-md-12" ng-if="compraCrVm.resBusProd.status">
      <div class="col-md-12">
        Codigo del producto: <strong>{{compraCrVm.resBusProd.data.id}}</strong> 
        Nombre del producto: <strong>{{compraCrVm.resBusProd.data.nombre}}</strong> 
        Existencias: <strong>{{compraCrVm.resBusProd.data.existencias}}</strong>
      </div>

      <div class="form-group col-md-3">
        <label for="cantidad"  ng-min="1">Cantidad</label>
        <input type="number" class="form-control" id="correo" ng-model="compraCrVm.addProd.cantidad">
      </div>
      <div class="form-group col-md-3">
        <label for="costo">costo</label>
        <input type="number" class="form-control" id="telefono" ng-model="compraCrVm.addProd.costo" required>
      </div>
      <div class="form-group col-md-3">
        <label for="valor">valor</label>
        <input type="number" class="form-control" id="dir" ng-model="compraCrVm.addProd.valor">
      </div>
      <div class="form-group col-md-2">
        <label for="valor">  Agregar producto</label>
        <button ng-click="compraCrVm.agreProTemp()" type="button" ng-disabled="compraCrVm.addProd.cantidad === 0 || compraCrVm.addProd.cantidad === null || compraCrVm.addProd.cantidad === undefined && 
        compraCrVm.addProd.costo === 0 || compraCrVm.addProd.costo === null || compraCrVm.addProd.costo === undefined "
        class="btn btn-primary btn-block"> <i class="glyphicon glyphicon-plus"> </i></button>
      </div>
      <div class="col-md-1">  
        <label for="valor"> Cancelar</label>
        <button ng-click="compraCrVm.canProTemp()" type="button" class="btn btn-danger btn-block"> <i
          class="glyphicon glyphicon-remove"> </i></button>
      </div>

    </div>

    <div class="col-md-12" ng-if="compraCrVm.resBusProd.status === false">
      <label style="color: red">{{compraCrVm.resBusProd.message}}</label>
    </div>
    
    <div class="col-md-12" ng-if="compraCrVm.productos.length" >
      <table class="table">
        <thead>
          <tr>
            <th>cod</th>
            <th>nombre</th>
            <th>cantidad</th>
            <th>costos</th>
            <th>valor</th>
            <th>total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="prod in compraCrVm.productos"> 
            <td> {{prod.id}} </td>
            <td> {{prod.nombre}} </td>
            <td> {{prod.cantidad}} </td>
            <td> {{prod.costo}} </td>
            <td> {{prod.valor}} </td>
            <td> {{prod.cantidad * prod.costo }} </td>
            <td> <i ng-click="compraCrVm.ediProTemp($index, prod)" class="glyphicon glyphicon-pencil" style="cursor: pointer; color: blue"> </i> <i ng-click="compraCrVm.eliminarProd($index)" class="glyphicon glyphicon-remove" style="cursor: pointer; color: red"> </i>  </td>

            

          </tr>
        </tbody>
      </table>
      
    </div>
    

  </div>

  <div class="form-group col-md-12 center" ng-if="compraCrVm.error">
    <label style="color: red">{{compraCrVm.message}} </label>
  </div>

  <div class="col-md-12">
    <button type="submit" ng-disabled="compraForm.$invalid" class="btn btn-primary btn-block">Guardar</button>
  </div>  
</form>