crear compra

<form name="compraForm" ng-submit="compraCrVm.guardarCompra()">
  <div class="form-group col-md-6">
    <label for="nombre">Nit</label>
    <input type="text" class="form-control" id="nombre" ng-minlength="4" ng-model="compraCrVm.compra.nitProveedor" required>
  </div>
  <div class="form-group col-md-6">
    <label for="id">nombre proveedor</label>
    <input type="text" class="form-control" id="id" ng-minlength="4" ng-model="compraCrVm.compra.nombreProveedor">
  </div>
  <div class="form-group col-md-6">
    <label for="exampleFormControlSelect1"> producto</label>
    <select class="form-control" id="exampleFormControlSelect1" ng-model="compraCrVm.compra.idProducto">
      <option ng-selected="compraCrVm.compra.rol == 1" value="1">leche</option>
      <option ng-selected="compraCrVm.compra.rol == 2" value="2">azucar</option>
      <option ng-selected="compraCrVm.compra.rol == 3" value="3">ron</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="cantidad">Cantidad</label>
    <input type="number" class="form-control" id="correo" ng-model="compraCrVm.compra.cantidad">
  </div>
  <div class="form-group col-md-6">
    <label for="costo">costo</label>
    <input type="number" class="form-control" id="telefono" ng-model="compraCrVm.compra.costo">
  </div>
  <div class="form-group col-md-6">
    <label for="valor">valor</label>
    <input type="number" class="form-control" id="dir" ng-model="compraCrVm.compra.valor">
  </div>
 
  <div class="form-group col-md-6" >
    <label for="recibo">n° recibo</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" ng-model="compraCrVm.compra.numeroRecibo">
  </div>
  <div class="form-group col-md-6" >
    <label for="compra">fecha compra</label>
    <input type="date" class="form-control" id="exampleFormControlInput1" ng-model="compraCrVm.compra.fechaCompra">
  </div>
  <div class="form-group col-md-6" >
    <label for="entrega">fecha entrega</label>
    <input type="date" class="form-control" id="exampleFormControlInput1" ng-model="compraCrVm.compra.fechaEntregaP">
  </div>

  <div class="form-group col-md-12 center" ng-if="compraCrVm.error">
    <label style="color: red">{{compraCrVm.message}} </label>
  </div>

  <div class="col-md-12">
    <button type="submit"  ng-disabled="compraForm.$invalid" class="btn btn-primary btn-block">Guardar</button>
  </div>
</form>       