<h3>Productos</h3>
<div class="form-group col-md-10">
  <div class="input-group">
    <input ng-model="ventaCrVm.codBusqueda" placeholder="Buscar producto" type="text" class="form-control">
    <div class="input-group-btn">
      <button ng-click="ventaCrVm.busquedaProd()" class="btn" type="button"> 
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-primary" ui-sref="auth.CrearActualizarProducto">Agregar nuevo</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Existencias</th>
      <th scope="col">Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="producto in productosVm.productos">
      <th scope="row">{{producto.id}}</th>
      <td>{{producto.nombre}}</td>
      <td>{{producto.existencias}}</td>
      <td>
        <span ng-if="producto.estado == 0">Inactivo</span>
        <span ng-if="producto.estado == 1">Activo</span>
      </td>
      <td> <a href="" ui-sref="auth.CrearActualizarProducto({id: producto.id})">editar</a> </td>
    </tr>
  </tbody>
</table>