<h3>Detalle de la venta</h3>
Fecha venta: <strong>{{ventaDetVm.infoVenta.fechaVenta | date:'dd/MM/yyyy hh:mm' }}</strong>
<br>
Número de recibo: <strong>{{ventaDetVm.infoVenta.numeroRecibo}}</strong>
<br>
Responsable: <strong>{{ventaDetVm.infoVenta.nombreVendedor}}</strong>
<br>
Total Compra: <strong>{{ventaDetVm.infoVenta.totalVenta}}</strong>
<br>

<div class="col-md-12" ng-if="ventaDetVm.venta.length">
  <table class="table">
    <thead>
      <tr>
        <th>cod prod</th>
        <th>nombre</th>
        <th>cantidad</th>
        <th>precio</th>
        <th>total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="prod in ventaDetVm.venta">
        <td> {{prod.idProd}} </td>
        <td> {{prod.nombreProd}} </td>
        <td> {{prod.cantidad}} </td>
        <td> {{prod.precio}} </td>
        <td> {{prod.cantidad * prod.precio }} </td>
      </tr>
    </tbody>
  </table>

</div>