<h3>Ventas</h3>

<div class="form-group col-md-8">
  <div class="input-group">
    <input ng-model="ventaVm.numeroRecibo" placeholder="Buscar venta con numero recibo" type="number" class="form-control">
    <div class="input-group-btn">
      <button ng-click="ventaVm.busquedaVenta()" class="btn" type="button"> 
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</div>
<div class="col-md-2" ng-if="ventaVm.filtroActivo">
  <button class="btn btn-info" ng-click="ventaVm.obtenerVenta()">Limpiar Filtro</button>
</div>
<button class="btn btn-primary" ui-sref="auth.ventasCrear">Agregar nueva venta</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">numero recibo</th>
      <th scope="col">fecha/hora venta</th>  
      <th scope="col">Total</th>
      <th></th>
    </tr>
  <tbody>
    <tr ng-repeat="venta in ventaVm.ventas">
      <th scope="row">{{venta.numeroRecibo}}</th>
      <td>{{venta.fechaVenta | date:'dd/MM/yyyy hh:mm' }}</td>
      <td>{{venta.total | currency: "$ ":0}}</td>
      <td> <a href="" ui-sref="auth.ventasDetalle({ numeroRecibo: venta.numeroRecibo})"> detalle </a> </td>
    </tr>
  </tbody>
  </thead>